In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv",index_col=0)
data.head()

                                       url  samelike  watched  rate_self
0  https://www.douban.com/people/124988109         0        0   0.000000
1   https://www.douban.com/people/54980274        32      164   0.195122
2       https://www.douban.com/people/ge_z         0        0   0.000000
3  https://www.douban.com/people/119689177        36      829   0.043426
4  https://www.douban.com/people/160055235        14       66   0.212121

In [3]:
data.describe()

            samelike        watched      rate_self
count  182553.000000  182553.000000  182553.000000
mean       33.498907     277.873056       0.120506
std        40.049971     458.936321       0.121430
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%        18.000000      92.000000       0.108280
75%        55.000000     374.000000       0.190840
max       303.000000   14603.000000       1.800000

In [4]:
data = data.drop_duplicates()

In [5]:
data = data[data["samelike"]>0]
data.describe()

            samelike        watched      rate_self
count  120072.000000  120072.000000  120072.000000
mean       50.929859     422.455077       0.183212
std        39.381200     509.045802       0.104545
min         6.000000      10.000000       0.002097
25%        18.000000      97.000000       0.110345
50%        41.000000     255.000000       0.162162
75%        74.000000     566.000000       0.231405
max       303.000000   14603.000000       1.800000

In [6]:
new_data = data[(data["watched"] >= 422) & (data["watched"] <= 3000)]

In [7]:
new_data.describe()

           samelike       watched     rate_self
count  40638.000000  40638.000000  40638.000000
mean      89.799178    879.973104      0.114255
std       35.304524    449.279832      0.046886
min        6.000000    422.000000      0.005113
25%       64.000000    551.000000      0.079961
50%       86.000000    740.000000      0.108926
75%      111.000000   1067.000000      0.143400
max      266.000000   3000.000000      0.361949

In [8]:
new_data.sort_values(["rate_self"],ascending=False)

,url,samelike,watched,rate_self
1070,https://www.douban.com/people/36063524,156,431,0.361949
10435,https://www.douban.com/people/84888552,143,426,0.335681
25010,https://www.douban.com/people/148834569,142,427,0.332553
11514,https://www.douban.com/people/138251276,141,435,0.324138
18599,https://www.douban.com/people/48965747,141,437,0.322654
21234,https://www.douban.com/people/48025965,144,451,0.319290
12651,https://www.douban.com/people/chenhaoyuan,155,489,0.316973
8078,https://www.douban.com/people/68107128,168,531,0.316384
209,https://www.douban.com/people/asen_shi,136,430,0.316279
6715,https://www.douban.com/people/kixzqw,135,428,0.315421
1828,https://www.douban.com/people/150676686,137,435,0.314943
15245,https://www.douban.com/people/leeconping,145,461,0.314534
14752,https://www.douban.com/people/44652272,192,617,0.311183
22890,https://www.douban.com/people/Kyrie_7,149,480,0.310417
18271,https://www.douban.com/people/Alicestormrage,143,461,0.310195
20078,https://www.douban.com/people/63928677,134,433,0.309469
2958,https://www.douban.com/people/xiatian722,133,432,0.307870
3997,https://www.douban.com/people/redlollipoper,202,657,0.307458
14521,https://www.douban.com/people/57491938,137,446,0.307175
11002,https://www.douban.com/people/68599558,134,438,0.305936
24466,https://www.douban.com/people/64786551,134,439,0.305239
20473,https://www.douban.com/people/7913986,133,437,0.304348
13596,https://www.douban.com/people/160458564,151,498,0.303213
17197,https://www.douban.com/people/146518571,133,439,0.302961
16709,https://www.douban.com/people/macan,128,423,0.302600
4208,https://www.douban.com/people/112008242,133,441,0.301587
13715,https://www.douban.com/people/zoejiao,128,425,0.301176
8196,https://www.douban.com/people/44373623,178,596,0.298658
15027,https://www.douban.com/people/38075884,129,433,0.297921
11317,https://www.douban.com/people/47549777,134,450,0.297778
...,...,...,...,...
3523,https://www.douban.com/people/martinchen,16,1392,0.011494
8471,https://www.douban.com/people/nononeonenoneno,13,1149,0.011314
3844,https://www.douban.com/people/103738962,18,1595,0.011285
7551,https://www.douban.com/people/1545634,15,1376,0.010901
3851,https://www.douban.com/people/huhuguai,8,745,0.010738
8694,https://www.douban.com/people/yanxxin,26,2422,0.010735
2096,https://www.douban.com/people/4256465,6,560,0.010714
25268,https://www.douban.com/people/151205169,13,1218,0.010673
2953,https://www.douban.com/people/155653294,8,751,0.010652
11172,https://www.douban.com/people/ribble-libble,17,1609,0.010566
9919,https://www.douban.com/people/shenhuax1,18,1724,0.010441
16051,https://www.douban.com/people/150931259,14,1343,0.010424
2636,https://www.douban.com/people/4652788,6,591,0.010152
6407,https://www.douban.com/people/150284947,13,1288,0.010093
11181,https://www.douban.com/people/59240591,8,802,0.009975
2122,https://www.douban.com/people/161422447,6,608,0.009868
19202,https://www.douban.com/people/neneXne,19,2004,0.009481
18168,https://www.douban.com/people/60016173,15,1612,0.009305
12242,https://www.douban.com/people/96163849,12,1321,0.009084
21772,https://www.douban.com/people/66260297,21,2336,0.008990
1227,https://www.douban.com/people/btr,11,1228,0.008958
11024,https://www.douban.com/people/jiangrui89,16,1829,0.008748
4012,https://www.douban.com/people/126722147,24,2770,0.008664
9770,https://www.douban.com/people/silent_hill,6,704,0.008523
10736,https://www.douban.com/people/57084778,14,1712,0.008178
3120,https://www.douban.com/people/SoThisIsParis,6,792,0.007576
2427,https://www.douban.com/people/75489098,8,1084,0.007380
25273,https://www.douban.com/people/daffie,8,1091,0.007333
199,https://www.douban.com/people/51507837,11,1777,0.006190
5888,https://www.douban.com/people/huangxiaoxie,14,2738,0.005113